.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #1B5A7A;
  padding: 30px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
    margin: 0 auto;
    border-spacing: 0;
    padding: 0;
}

input {
    margin: 5px;
}

.cell {
    width: 10px;
    height: 10px;
}

.dead {
    background-color: #1AA59A;
}

.alive {
    transition: background-color 0.2s linear;
    background-color: #A6ED8E;
}
