.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.App-header {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.App-intro {
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button {
    margin: 5px 0;
    padding: 10px;

}

table {
    margin: 0 auto;
    border-spacing: 0;
    padding: 0;
}
.cell {
    width: 10px;
    height: 10px;
}
.dead {
    background-color: #1AA59A;
}
.alive {
    transition: background-color 0.1s linear;
    background-color: #A6ED8E;
}
